.projects {
  min-height: 100vh;
}

.projects-title {
  text-align: center;
  font-size: 3rem;
  color: #00ffd5;
  margin-bottom: 70px;
}

.project-card {
  background: rgba(255, 255, 255, 0.08);
  padding: 40px;
  border-radius: 25px;
  margin-bottom: 50px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.3);
  transition: transform 0.4s ease;
}

.project-card h2 {
  color: #00ffd5;
  font-size: 2rem;
  margin-bottom: 15px;
}

.project-card p {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.project-card:hover {
  transform: translateY(-10px);
}

/* DETAILS SECTION */
.details {
  display: none;
  margin-top: 20px;
  background: rgba(0,0,0,0.3);
  padding: 20px;
  border-radius: 15px;
}

.details a {
  display: inline-block;
  margin-top: 10px;
  color: #00ffd5;
  font-weight: bold;
  text-decoration: none;
}

.details a:hover {
  text-decoration: underline;
}


.mobile-page {
  padding: 90px 16px 40px;
}

.project {
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .project h3 {
    font-size: 22px;
  }

  .project p {
    font-size: 15px;
  }
}

